{% set combined_hv_config = default_hv_config | combine(hv_config, recursive=true) -%}
[harvesting]

harvestKey = {{ combined_hv_config['harvest_key'] }}
beneficiary = {{ combined_hv_config['beneficiary'] }}
isAutoHarvestingEnabled = {{ combined_hv_config['is_auto_harvesting_enabled'] | lower }}
maxUnlockedAccounts = {{ combined_hv_config['max_unlocked_accounts'] }}
