#!/bin/bash
if [[ -f "/data/server.lock" ]]; then
	{{ sirius_binary_path }}/catapult.recovery /chainconfig
fi

if [[ -f "/data/recovery.lock" ]]; then
    echo "unable to recover."
    exit 1
fi

{{ sirius_binary_path }}/sirius.bc /chainconfig